<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ando.base" >

    <!--通用-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- android 8 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


</manifest>
